
.song-result {
  border: 2px;
  border-radius: 7px;
  border-style: solid;
  border-color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.button-group {
  padding-top: 9px;
}
h3 {
  text-align: center;
}
.searchbar {
  border-color: black;
}
.add-button {
	font-size: 12px;
	padding-top: 0;
	border-top: 0;
}
.select-option {
	height: 30px;
	font-size: 12px;
	margin: 0 0 0 0;
}
.spot-player {
	float: left;
}
.ban-this {
	float: right;
	font-size: 11px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.add-this {
	float: right;
	font-size: 11px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.unban-this {
	float: right;
	font-size: 11px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.button {
	
}
.login {
	font-size: 11px;
}
.snob {
	font-size: 41px;
}
.playerWindow{
	margin-top: 15px;
	margin-left: -5px;
}
.buttonImg{
	height:40px;
	width: 40px;
}
.playButton{
  background-color: white;
}