/* Space out content a bit */

/* Everything but the jumbotron gets side spacing for mobile first views */

/* Custom page header */
/* Make the masthead heading the same height as the navigation */

/* Custom page footer */

/* Customize container */

.song-result {
  border: 3px;
  border-radius: 7px;
  border-style: solid;
  border-color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.button-group {
  padding-top: 9px;
}
h3 {
  text-align: center;
}
.searchbar {
  border-color: black;
}
.add-button {
	font-size: 12px;
	padding-top: 0;
	border-top: 0;
}
.select-option {
	height: 30px;
	font-size: 12px;
	margin: 0 0 0 0;
}
.spot-player {
	float: none;
}